# Dependencies
node_modules/
backend/venv/
venv/

# Build
dist/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.production
backend/.env

# System
.DS_Store
*.md

docs/

database/database.md